---
layout: default
---

<section class="hero">
  <div class="hero-bg"></div>
  <div class="hero-overlay"></div>

  <div class="hero-content wrapper">
    <h2>Hi, I'm Jamie Barton</h2>
    <h3>A Ruby on Rails Developer</h3>

    <a href="mailto: jamie@codethisway.com" class="btn">Get in touch</a>
    <span>Avaliable from August 2014</span>
  </div>
</section>

<section class="intro">
  <div class="wrapper">
    <img src="{{ "/img/avatar.png" | prepend: site.baseurl }}" alt="Jamie Barton" />
    <h4>Responsive websites &amp; web applications are my thing.</h4>
    <p>I live in Newcastle upon Tyne with my beautiful fiancée.</p>
  </div>
</section>

{% include index/skills.html %}
{% include index/clients.html %}

<section class="blog clearfix">
  <div class="left">
    <div class="blog-image"></div>
  </div>

  <div class="right">
      <div class="inner">
        <h5>From the Blog</h5>

        {% for post in site.posts limit:1 %}
        <h2>{{ post.title }}</h2>

        <p>{{ post.content | strip_html | truncatewords:55}}</p>

        <p class="continue-reading"><a href="{{ post.url | prepend: site.baseurl }}">Continue Reading &rarr;</a></p>
        {% endfor %}
      </div>
  </div>
</section>

{% include index/testimonials.html %}

<section class="boom">
  <div class="wrapper">
    <div class="box">
      <span>Want to work with me?</span>
      <a href="mailto: jamie@codethisway.com" class="btn">Get in touch</a>
    </div>
  </div>
</section>
