<section class="clients">
  <div class="wrapper">
    <h5>I've worked with some interesting people</h5>

    <ul class="horizontal">
      <li><img src="{{ "/img/logos/waypoint.png" | prepend: site.baseurl }}" alt="Waypoint" /></li>
      <li><img src="{{ "/img/logos/norsound.png" | prepend: site.baseurl }}" alt="Norsound" /></li>
      <li><img src="{{ "/img/logos/tiga.png" | prepend: site.baseurl }}" alt="TIGA" /></li>
      <li><img src="{{ "/img/logos/norseal.png" | prepend: site.baseurl }}" alt="Norseal" /></li>
      <li><img src="{{ "/img/logos/outingly.png" | prepend: site.baseurl }}" alt="Outingly" /></li>
    </ul>
  </div>
</section>
