<section class="skills">
  <div class="wrapper">
    <h5>What I do</h5>

    <ul class="clearfix">
      <li>
        <img src="img/code.png" alt="" />
        <h4>Ruby on Rails</h4>
        <p>Ruby on Rails is what I do. I can work as part of a team or alone builidng your project.</p>
      </li>

      <li>
        <img src="img/consulting.png" alt="" />
        <h4>Ruby Consultancy</h4>
        <p>Building a large project is often a daunting thought. Let me make it easier for you.</p>
      </li>

      <li>
        <img src="img/browser.png" alt="" />
        <h4>MVP Development</h4>
        <p>Having an idea and getting it built quickly is often a challenge. I can build it in a week for a small premium.</p>
      </li>
    </ul>
  </div>
</section>
