<section class="skills">
  <div class="wrapper">
    <h5>What I do</h5>

    <ul class="clearfix">
      <li class="development">
        <h4>Web Development</h4>
        <p><abbr title="Ruby on Rails">RoR</abbr> is great for powering web applications. I also work with AngularJS, NodeJS and JavaScript.</p>
      </li>

      <li class="consultancy">
        <h4>Consultancy</h4>
        <p>Developing a large project can be difficult. Use my experience to help you build the next big thing.</p>
      </li>

      <li class="mvp">
        <h4>7 Day <abbr title="Minimum Viable Product">MVP</abbr></h4>
        <p>Having wonderful ideas and getting it built quickly is often a challenge. I can build it in 7 days.</p>
      </li>
    </ul>
  </div>
</section>
