<section class="skills">
  <div class="wrapper">
    <h5>What I do</h5>

    <ul class="clearfix">
      <li>
        <img src="img/code.png" alt="" />
        <h4>Ruby on Rails</h4>
        <p><abbr title="Ruby on Rails">RoR</abbr> is excellent for powering web applications. I can work as part of a team or alone for your project.</p>
      </li>

      <li>
        <img src="img/consulting.png" alt="" />
        <h4>Ruby Consultancy</h4>
        <p>Struggling to understand your <abbr title="Application Programming Interface">API</abbr>s from your <abbr title="Key Performance Indicator">KPI</abbr>s? Let me help with daunting feeling.</p>
      </li>

      <li>
        <img src="img/browser.png" alt="" />
        <h4><abbr title="Minimum Viable Product">MVP</abbr> Development</h4>
        <p>Having an idea and getting it built quickly is often a challenge. I can build it in a week for a small premium.</p>
      </li>
    </ul>
  </div>
</section>
