<section class="testimonials clearfix">
  <div class="wrapper">
    <h5>Testimonials</h5>

    <div class="testimonial-block left">
      <div class="inner">
        <div class="message">
          <p>Jamie was hired to develop our internal property management system and delivered outstanding results at every deadline checkpoint. <br><br>Jamie also helped develop the project scope and took a real passion in getting our software to do what we wanted. <br><br>I would recommend Jamie for any project.</p>
        </div>

        <div class="person">
          <img src="{{ "/img/tavatar.png" | prepend: site.baseurl }}" alt="Jesus Christ" />
          <span class="name">Sammy Isseyegh</span>
          <span class="role">Client, Outingly</span>
        </div>
      </div>
    </div>

    <div class="testimonial-block right">
      <div class="inner">
        <div class="message">
          <p>Jamie guided me deftly through what to me is a complicated world. His intuition and professionalism and dedication are very very impressive. Jamie has kept in touch with me throughout the process and never missed a deadline.<br><br>He has mange to combine technical expertise, design acumen and the needs of the customer in a way I have rarely experienced.</p>
        </div>

        <div class="person">
          <img src="{{ "/img/tavatar2.png" | prepend: site.baseurl }}" alt="Jesus Christ" />
          <span class="name">Nick Booth</span>
          <span class="role">Client, Waypoint</span>
        </div>
      </div>
    </div>

  </div>

</section>
