<section class="testimonials clearfix">
  <div class="wrapper">
    <h5>Testimonials</h5>

    <div class="testimonial-block left">
      <div class="inner">
        <div class="message">
          <p>Yeah, I do that with my stupidness. I was all of history's great robot actors - Acting Unit 0.8; Thespomat; David Duchovny! I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'!</p>
        </div>

        <div class="person">
          <img src="{{ "/img/tavatar.png" | prepend: site.baseurl }}" alt="Jesus Christ" />
          <span class="name">Sammy Isseyegh</span>
          <span class="role">Client, Outingly</span>
        </div>
      </div>
    </div>

    <div class="testimonial-block right">
      <div class="inner">
        <div class="message">
          <p>Yeah, I do that with my stupidness. I was all of history's great robot actors - Acting Unit 0.8; Thespomat; David Duchovny! I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'!</p>
        </div>

        <div class="person">
          <img src="{{ "/img/tavatar2.png" | prepend: site.baseurl }}" alt="Jesus Christ" />
          <span class="name">Matthew Martin</span>
          <span class="role">Co-worker, Gatherr</span>
        </div>
      </div>
    </div>

  </div>

</section>
