---
layout: default
---

<section class="hero">
  <div class="hero-bg"></div>
  <div class="hero-overlay"></div>

  <div class="hero-content hero-content--page wrapper">
    <h2 class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h2>
    <h3>{{ page.title }}</h3>
  </div>
</section>

<section class="page-content">
  <div class="wrapper">
    <article>
    {{ content }}
    </article>

    {{% if page.comments %}}
      {% include disqus.html %}
    {{% endif %}}
  </div>
</section>
